.contact-container
  grid-column: 1 / 5
  grid-row: 3
  border-bottom: groove
  padding-bottom: 1rem
  .contact-layout
    display: flex !important
    flex-direction: column
    .contact-title
      font-size: 1rem
      font-weight: 400
      line-height: 1rem
      text-align: left
      padding-bottom: 1rem
    .contact-paragraph
      display: flex !important
      font-size: .875rem
      font-weight: 400
      line-height: 1rem
      color: #999
      margin: 0
      padding-bottom: .5rem
      padding-left: .5rem

@media (min-width: 48rem)
  .contact-container
    border-bottom: none
    grid-row: 2
