.copyright-container
  text-align: center
  grid-column: 1 / 5
  grid-row: 5
  height: 3vh
  .copyright-layout
    .copyright-paragraph
      color: #999
      font-size: 1rem

@media (min-width: 47rem)
  .copyright-container
    .copyright-layout
      .copyright-paragraph
        font-size: 1.15rem

@media (min-width: 62rem)
  .copyright-container
    .copyright-layout
      .copyright-paragraph
        font-size: 1.25rem
