.clients-container
  background-color: #010a1a
  height: 30vh
  .clients-layout
    height: 100%
    .slick-slider
      height: 100%
      .slick-list
        height: 100%
        .slick-track
          height: 100%
