.footer-container // 360px
  background-color: #f7f7f7
  color: #010a1a
  position: relative
  height: 90vh
  .footer-layout
    display: grid
    grid-template-columns: repeat(4, 1fr)
    margin: 0 5vw
    grid-gap: 2.5vh
