.hero-container
  width: 100%
  height: 41rem
  background-image: url('../../Assets/cormetal.jpg')
  background-size: cover
  background-position: center
  .hero-layout
    height: 100%
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 4.5vw
    margin: 0 5vw
    align-items: center
