.hero-container
  height: 90vh
  width: 100vw
  .slick-slider
    height: 90vh
    .slick-list
      height: 90vh
      .slick-track
        height: 90vh
  .hero-layout
    .hero-slide
      height: 90vh
    .hero-image
      height: 90vh
      object-fit: cover
    .hero-text
      color: #f7f7f7
      display: flex
      text-align: center
      top: 40%
      z-index: 1
      position: absolute

@media (min-width: 47rem)
  .hero-container
    .hero-layout
      .hero-text
        font-size: 1.5rem

@media (min-width: 62rem)
  .hero-container
    .hero-layout
      .hero-text
        font-size: 2rem
