.hero-container
  width: 100%
  height: 40rem
  background-image: url('../../Assets/cormetal.jpg')
  background-size: cover
  background-position: center

.hero-layout
  display: flex
  width: 100%
  height: 100%
  align-items: center
  justify-content: center
