.us-container
  text-align: justify
  background-color: #010a1a
  color: #f7f7f7
  .us-layout
    display: flex
    flex-direction: column
    margin: 0 5vw
    text-align: center
    p
      margin-bottom: 1rem
      color: #80858d
      text-align: justify
